= simple_nested_form_for @plate do |f|
  = f.error_notification

  .form-inputs
    = f.input :nombre
    = f.input :description
    = f.input :calorias
    //= f.association :regimes, label_method: :nombre,  as: :check_boxes
    -if f.object.new_record?
      = f.input :horario, as: :check_boxes, collection: [["Desayuno",1],["Almuerzo",2],["Once", 4],["Cena",8]]
    -else
      = f.input :horario, as: :check_boxes, collection: [["Desayuno",1],["Almuerzo",2],["Once", 4],["Cena",8]], :checked => @plate.obtener_horarios
    = f.input :tipo, as: :radio_buttons, collection: Plate.obtener_tipos(0)
    =f.fields_for :plate_ingredients do |plate_ingredients_form|
      = plate_ingredients_form.select :ingredient_id, Ingredient.all.map {|i| [i.nombre + " (" + i.unidad + ")", i.id]}
      = plate_ingredients_form.input :cantidad
      = plate_ingredients_form.link_to_remove "Borrar ingrediente"
    =f.link_to_add "Agregar Ingrediente", :plate_ingredients

  .form-actions
    = f.button :submit
