%h1 Listing plates

%table
  %tr
    %th Nombre
    %th Calorias
    %th Tipo
    %th
    %th
    %th

  - @plates.each do |plate|
    %tr
      %td= plate.nombre
      %td= plate.calorias
      %td= plate.tipo
      %td= link_to 'Show', plate
      %td= link_to 'Edit', edit_plate_path(plate)
      %td= link_to 'Destroy', plate, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Plate', new_plate_path
