%h1 Listing plates

%table
  %tr
    %th Nombre
    %th Calorias
    %th
    %th

  - @plates.each do |plate|
    %tr
      %td= plate.nombre
      %td= plate.calorias
      %td= link_to 'Editar', edit_plate_path(plate)
      %td= link_to 'Borrar', plate, :method => :delete, :data => { :confirm => '¿Esta seguro?' }

%br

= link_to 'Nuevo Plato', new_plate_path
