%h2 Editar Regimen

.pagination.well
  .alert.alert-info
    %strong Selecione dia del regimen a modificar
  %ul
    %li
      %a{:href => "?dia=1"}
        %span{ :class => "#{Regime.isActive(1, @dia.to_i)}"}
          1
    %li
      %a{:href => "?dia=2"} 
        %span{ :class => "#{Regime.isActive(2, @dia.to_i)}"}
          2
    %li
      %a{:href => "?dia=3"} 
        %span{ :class => "#{Regime.isActive(3, @dia.to_i)}"}
          3
    %li
      %a{:href => "?dia=4" } 
        %span{ :class => "#{Regime.isActive(4, @dia.to_i)}"}
          4
    %li
      %a{:href => "?dia=5"}
        %span{ :class => "#{Regime.isActive(5, @dia.to_i)}"}
          5
    %li
      %a{:href => "?dia=6"}
        %span{ :class => "#{Regime.isActive(6, @dia.to_i)}"}
          6
    %li
      %a{:href => "?dia=7"}
        %span{ :class => "#{Regime.isActive(7, @dia.to_i)}"}
          7
    %li
      %a{:href => "?dia=8"}
        %span{ :class => "#{Regime.isActive(8, @dia.to_i)}"}
          8
   

= simple_nested_form_for @regime do |f|
  = f.error_notification

  .form-inputs
    = f.input :nombre  

  #accordion2.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseDesayuno"}
        %h4 Desayuno
    #collapseDesayuno.accordion-body.collapse.in
      .accordion-inner        
        - Plate.obtener_tipos(1).each do |tipo_desayuno|
          %legend #{tipo_desayuno[0]}
          %div{ :id => "#{tipo_desayuno[0]}" } 
            = f.fields_for :regime_plates, Regime.obtenerPlatos(@dia, 1, @regime.id, tipo_desayuno[1] ) do |g|
              = g.collection_select(:plate_id, Plate.find_all_by_tipo(tipo_desayuno[1]), :id, :nombre )
              = g.link_to_remove "Borrar"
              = g.hidden_field :horario , :value => 1, :class => "horario_val"
              = g.hidden_field :dia , :value => @dia
          =f.link_to_add "+", :regime_plates, :tipo => tipo_desayuno[1], :dia => @dia, :horario => 1
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseAlmuerzo"}
        %h4 Almuerzo
    #collapseAlmuerzo.accordion-body.collapse.in
      .accordion-inner
        - Plate.obtener_tipos(2).each do |tipo_almuerzo|
          %legend #{tipo_almuerzo[0]}
          %div{ :id => "#{tipo_almuerzo[0]}" } 
            = f.fields_for :regime_plates, Regime.obtenerPlatos(@dia, 2, @regime.id, tipo_almuerzo[1] ) do |g|
              = g.collection_select(:plate_id, Plate.find_all_by_tipo(tipo_almuerzo[1]), :id, :nombre )
              = g.link_to_remove "Borrar"
              = g.hidden_field :horario , :value => 2, :class => "horario_val"
              = g.hidden_field :dia , :value => @dia
          =f.link_to_add "+", :regime_plates, :tipo => tipo_almuerzo[1], :dia => @dia, :horario => 2
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOnce"}
        %h4 Once
    #collapseOnce.accordion-body.collapse.in
      .accordion-inner
        - Plate.obtener_tipos(4).each do |tipo_te|
          %legend #{tipo_te[0]}
          %div{ :id => "#{tipo_te[0]}" } 
            = f.fields_for :regime_plates, Regime.obtenerPlatos(@dia, 4, @regime.id, tipo_te[1] ) do |g|
              = g.collection_select(:plate_id, Plate.find_all_by_tipo(tipo_te[1]), :id, :nombre )
              = g.link_to_remove "Borrar"
              = g.hidden_field :horario , :value => 4, :class => "horario_val"
              = g.hidden_field :dia , :value => @dia
          =f.link_to_add "+", :regime_plates, :tipo => tipo_te[1], :dia => @dia, :horario => 4

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseCena"}
        %h4 Cena
    #collapseCena.accordion-body.collapse.in
      .accordion-inner
        - Plate.obtener_tipos(8).each do |tipo_cena|
          %legend #{tipo_cena[0]}
          %div{ :id => "#{tipo_cena[0]}" } 
            = f.fields_for :regime_plates, Regime.obtenerPlatos(@dia, 8, @regime.id, tipo_cena[1] ) do |g|
              = g.collection_select(:plate_id, Plate.find_all_by_tipo(tipo_cena[1]), :id, :nombre )
              = g.link_to_remove "Borrar"
              = g.hidden_field :horario , :value => 8, :class => "horario_val"
              = g.hidden_field :dia , :value => @dia
          =f.link_to_add "+", :regime_plates, :tipo => tipo_cena[1], :dia => @dia, :horario => 8



  .form-actions
    %a.btn.btn-primary#send_regimen Actualizar

= link_to 'Show', @regime
\|
= link_to 'Back', regimes_path

:javascript
  $(function() {
    window.nestedFormEvents.insertFields = function(content, assoc, link) {           
      var new_id  = this.newId();
      var regexp  = new RegExp('new_' + assoc, 'g');
      $.get('/get_form_select_plates?tipo='+ $(link).attr("tipo")+ '&dia='+ $(link).attr("dia")+ '&horario='+ $(link).attr("horario"), function(data){ 
        content = data;      
        content     = content.replace(/PID/g, new_id);            
        var target = $(link).data('target');
        if (target) {
          return $(content).appendTo($(target));
        } else {
          return $(content).insertBefore(link);
        }


       });

    
    }
  });