%h1 Listing regimes

%table
  %tr
    %th Nombre
    %th
    %th
    %th

  - @regimes.each do |regime|
    %tr
      %td= regime.nombre
      %td= link_to 'Show', regime
      %td= link_to 'Edit', edit_regime_path(regime)
      %td= link_to 'Destroy', regime, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Regime', new_regime_path
