%h1 Nuevo Régimen

= simple_form_for(@regime) do |f|
  = f.error_notification

  .form-inputs
    %legend Nombre
    = f.input :nombre, label: false

  .form-actions
    = f.button :submit, 'Crear Régimen'

%a.btn{ :href => "#{cuapanel_path}" }
  %i.icon-arrow-left
  Regresar
