= simple_form_for(@order_list) do |f|
  = f.error_notification

  .form-inputs
    -if @order_list.fecha
      = hidden_field_tag 'order_list[fecha]', @order_list.fecha
    -else
      = hidden_field_tag 'order_list[fecha]', @date
    = hidden_field_tag 'dia[dia]', @order_list.dia
    = hidden_field_tag 'regime_order[id]', @regime_id
    -if @horario
      -if @order_list.esPaciente
        %div#detalles.alert.detalles_float
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = label_tag(:nombre_paciente, 'Comentarios sobre '+@order_list.patient.nombre+':' , :id =>"nombre_paciente")
          %br
          = text_area_tag 'patient_detalles', @order_list.patient.detalles, :rows => "5"
      = f.simple_fields_for :orders, @order_list.orders.build do |orders_form|
        .order_title
          %h3 Nueva Order: #{Plate.horarios_nombre.flatten[Plate.horarios_nombre.flatten.index(@horario.to_i) -1]}
          .right.order_buttons
            = f.button :submit, 'Guardar', :disabled => true, :class => "btn-success"
            -if @horario && @horario!='8'
              %a.btn.btn-warning{ :id => "skip_btn",:href => url_for(:controller => "order_lists", :action => "edit", :id => @order_list.id,  :horario => (@horario.to_i * 2).to_s) }
                Saltar
            -elsif @horario=='8'
              %a.btn.btn-warning{ :href => "#{order_lists_path}" }
                Saltar
        = hidden_field_tag 'order_list[orders_attributes][0][horario]', @horario
        .half.right
          %strong Régimen:   
          = select("regime", "", Regime.all.collect {|p| [ p.nombre, p.id ] }, {:prompt => 'Seleccione Régimen'})
        #plates
        .order_comments.halfx
          %legend Comentarios
          = orders_form.input :comentarios, as: :text, :input_html => { :rows => 5, :maxlength => 290 }, :label => false
    -else
      = hidden_field_tag 'order_list[dia]', DayRegime.getDayByDate(@order_list.fecha)
      = select(:order_list, :patient_id, Patient.all.collect {|p| [ p.num_pieza, p.id ] }, {:prompt => 'Seleccione Pieza'}, { class: 'chzn-select ' })
      #persona
        %ul#lista_persona{:style =>"display: none"}
          %li{:style => "display: inline-table; padding-right: 50px"}
            = f.input :esPaciente, :id =>"nombre_paciente"
          %li{:style => "display: inline-table"}
            = label_tag(:acompanante, "Acompañante")
            = check_box_tag(:acompanante)

  .form-actions
    = f.button :submit, 'Guardar', :disabled => true
    -if @horario && @horario!='8'
      %a.btn{ :id => "skip_btn",:href => url_for(:controller => "order_lists", :action => "edit", :id => @order_list.id,  :horario => (@horario.to_i * 2).to_s) }
        Saltar
    -elsif @horario=='8'
      %a.btn{ :href => "#{order_lists_path}" }
        Saltar
