= simple_form_for(@order_list) do |f|
  = f.error_notification

  .form-inputs
    = hidden_field_tag 'dia[dia]', @order_list.dia
    = hidden_field_tag 'regime_order[id]', @regime_id
    -if @horario
      -if @order_list.esPaciente
        %div#detalles.half.right.alert
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = label_tag(:nombre_paciente, 'Comentarios sobre '+@order_list.patient.nombre+':' , :id =>"nombre_paciente")
          %br
          = text_area_tag 'patient_detalles', @order_list.patient.detalles, :rows => "5"
      = f.simple_fields_for :orders, @order_list.orders.build do |orders_form|
        -case @horario.to_i
        -when 1
          %h2 Desayuno
        -when 2
          %h2 Almuerzo
        -when 4
          %h2 Once
        -else
          %h2 Cena
        = hidden_field_tag 'order_list[orders_attributes][0][horario]', @horario
        = select("regime", "", Regime.all.collect {|p| [ p.nombre, p.id ] }, {:prompt => 'Seleccione Régimen'})
        #plates
        = orders_form.input :comentarios, as: :text, :input_html => { :rows => 5 }
    -else
      = hidden_field_tag 'order_list[dia]', DayRegime.getDayByDate(@order_list.fecha)
      = select(:order_list, :patient_id, Patient.all.collect {|p| [ p.num_pieza, p.id ] }, {:prompt => 'Seleccione Pieza'}, { class: 'chzn-select' })
      #persona
        %ul#lista_persona{:style =>"display: none"}
          %li{:style => "display: inline-table; padding-right: 50px"}
            = f.input :esPaciente, :id =>"nombre_paciente"
          %li{:style => "display: inline-table"}
            = label_tag(:acompanante, "Acompañante")
            = check_box_tag(:acompanante)

  .form-actions
    = f.button :submit, 'Guardar'
    -if @horario && @horario!='8'
      %a.btn{ :href => url_for(:controller => "order_lists", :action => "edit", :id => @order_list.id,  :horario => (@horario.to_i * 2).to_s) }
        Saltar
    -elsif @horario=='8'
      %a.btn{ :href => "#{order_lists_path}" }
        Saltar
