= simple_form_for(@order_list) do |f|
  = f.error_notification

  .form-inputs
    = hidden_field_tag 'dia[dia]', DayRegime.getCurrentDay()
    -if @horario
      = label_tag(:nombre_paciente, @order_list.patient.nombre , :id =>"nombre_paciente")
      = f.simple_fields_for :orders, @order_list.orders.build do |orders_form|
        -case @horario.to_i
        -when 1
          %h2 Desayuno
        -when 2
          %h2 Almuerzo
        -when 4
          %h2 Once
        -else
          %h2 Cena
        = hidden_field_tag 'order_list[orders_attributes][0][horario]', @horario
        = select("regime", "", Regime.all.collect {|p| [ p.nombre, p.id ] }, {:prompt => 'Seleccione Régimen'})
        #plates
        = orders_form.input :comentarios
    -else
      = select(:order_list, :patient_id, Patient.all.collect {|p| [ p.num_pieza, p.id ] }, {:prompt => 'Seleccione Pieza'})
      #persona
        %ul#lista_persona{:style =>"display: none"}
          %li{:style => "display: inline-table; padding-right: 50px"}
            = label_tag(:nombre_paciente, "Nombre Paciente", :id =>"nombre_paciente")
            = check_box_tag(:nombre)
          %li{:style => "display: inline-table"}
            = f.input :esPaciente , label: 'Acompañante'

  .form-actions
    = f.button :submit, label: 'Siguiente'
    -if @horario && @horario!='8'
      = link_to 'Saltar', {:controller => "order_lists", :action => "edit", :id => @order_list.id,  :horario => (@horario.to_i * 2).to_s }
