%legend Lista Ordenes
= label_tag(:fecha, "Fecha:")
%input{"data-behaviour" => "datepicker", :type => "text", :data_url => "#{order_lists_path}"}/
:javascript
  $(function() {
  //Actualizar datepicker
  $('[data-behaviour~=datepicker]').datepicker({
    format: 'dd/mm/yyyy',
    "setDate": new Date()
  }).on('changeDate', function(ev) {
    url = $(this).attr('data_url') + '?date=' + $(this).val();
    window.location = url;
  });
  $('[data-behaviour~=datepicker]').val("#{@date}");
  //Eventos botones PDF
  $('.dropdown-menu li a').click(function(){
      //$('.dropdown-toggle').addClass('disabled');
      $('#myModalLabel').html("Voucher "+ $(this).attr('tipo'))
      $('#myModal').modal('show'); 
      $( ".modal-body" ).html("<p>Generando PDF.. Esto puede tardar unos segundos</p> <img src='../assets/images/ajax-loader.gif' /> ")
      $( ".modal-body" ).load( $(this).attr('link'), function() {
        //Mostrar boton imprimir
        $('.modal-footer .btn-primary').show();
        $('#myModal').modal('show');
        $('#' +$('li.active a').html() + ' tr.tr_error').addClass('tr_success');       
        //$('.dropdown-toggle').removeClass('disabled');
      });      
    });
  //Cargar menu lista documentos y logs por jquery
  $('.menu_superior .btn').click(function(){
      //$('.dropdown-toggle').addClass('disabled');
      $('#myModalLabel').html("Voucher "+ $(this).attr('tipo'))    
      $( ".modal-body" ).load( $(this).attr('link'), function() {
        $('.modal-footer .btn-primary').hide();
        $('#myModal').modal('show');
        //$('.dropdown-toggle').removeClass('disabled');
      });      
    });

  });
  function callPrint(iframeId) {
      var PDF = document.getElementById(iframeId);
      PDF.focus();
      PDF.contentWindow.print();
  }
- if current_user.has_role? :admin or current_user.has_role? :central
  .btn-group.menu_superior.right
    %button.btn{ :link => "../pdf_list?tipo=vaucher", :tipo => "Lista Documentos" }
      %i.icon-download-alt
      Lista Documentos
    %button.btn{ :link => "../change_logs", :tipo => "Registro Cambios" } Registro Cambios

%ul#myTab.nav.nav-tabs
  - Plate.horarios_nombre.each do |horario|
    %li{ :class => "#{ horario[1] == params[:horario].to_i ? 'active' : ''}" }
      %a{"data-toggle" => "tab", :href => "##{horario[0]}", :style => "#{horario[1] == params[:horario].to_i ? 'color: rgb(221, 24, 24);' : '' }"} #{horario[0]}
 
#myTabContent.tab-content
  - Plate.horarios_nombre.each  do |horario|
    .tab-pane.fade{ :id => "#{horario[0]}",  :class => "#{horario[1] == params[:horario].to_i || (!params[:horario] and horario[1]==1) ? 'active in' : ''}" }
      .accordion-heading{ :id => "acord#{horario[0]}"}
        - if current_user.has_role? :admin or current_user.has_role? :central
          .btn-group.right{:style => "margin-right: 20px;"}
            %button.btn.btn-success.right.dropdown-toggle{"data-toggle" => "dropdown"}        
              Generar PDF #{horario[0]}
              %span.caret
            %ul.dropdown-menu
              %li
                %a{ :href => "#", :tipo => "#{horario[0]}" , :link => "../reports/new?tipo=vaucher&horario=#{horario[1]}&fecha=" + @format_date} Todo #{horario[0]}
              %li
                %a{:href => "#", :link => "../reports/new?tipo=vaucher&estados=nuevos&horario=#{horario[1]}&fecha=" + @format_date} Nuevas #{horario[0]}
              %li
                %a{:href => "#", :link => "../reports/new?tipo=vaucher&estados=modificados&horario=#{horario[1]}&fecha=" + @format_date} Modificadas #{horario[0]}              
         
        %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapse#{horario[0]}"}
          %legend 
            = horario[0]
      %table.table
        %th Pieza
        %th Paciente
        %th Regimen
        %th Estado
        %th
        %th
        - @order_lists.each do |order_list|
          - order_list.orders.find_all_by_horario(horario[1]).each do |order|
            %tr{ :class => "#{order.estado == 3 ? 'tr_success' : 'tr_error'}"}
              %td= order_list.patient.num_pieza

              %td= order_list.esPaciente ? order_list.patient.nombre : 'Acompañante'
              %td= @regimes[order.regime_id]
              %td= order.estado == 2 ? image_tag('images/notification-bg.png') : ''
              %td
                = link_to(edit_order_path(order), "data-toggle" => "tooltip", :title => "Editar") do
                  %i.icon-pencil
              %td
                = link_to(order, "data-toggle" => "tooltip", :title => "Eliminar", :method => :delete, :data => { :confirm => 'Are you sure?' }) do
                  %i.icon-trash



%a.btn{ :href => "#{new_order_list_path({:date => @date})}" }
  %i.icon-plus
  Nueva Orden

#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3#myModalLabel Vouchers
  .modal-body
    %p 
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cerrar
    %a.btn.btn-primary{href: "#", :onclick => "callPrint('iframe_pdf');"} Imprimir
    
