%legend Lista Ordenes
= label_tag(:fecha, "Fecha:")
%input{"data-behaviour" => "datepicker", :type => "text", :data_url => "#{order_lists_path}"}/
:javascript
  $(function() {
  $('[data-behaviour~=datepicker]').datepicker({
    format: 'dd/mm/yyyy',
    "setDate": new Date()
  }).on('changeDate', function(ev) {
    url = $(this).attr('data_url') + '?date=' + $(this).val();
    window.location = url;
  });
  $('[data-behaviour~=datepicker]').val("#{@date}")
  });
%a.btn.right{ :href => "../pdf_list?tipo=vaucher"}
  %i.icon-download-alt
  Lista Documentos
%ul#myTab.nav.nav-tabs
  - Plate.horarios_nombre.each do |horario|
    %li{ :class => "#{ horario[1] == 1 ? 'active' : ''}" }
      %a{"data-toggle" => "tab", :href => "##{horario[0]}"} #{horario[0]}
 
#myTabContent.tab-content
  - Plate.horarios_nombre.each  do |horario|
    .tab-pane.fade{ :id => "#{horario[0]}",  :class => "#{horario[1] ==1 ? 'active in' : ''}" }
      .accordion-heading{ :id => "acord#{horario[0]}"}
        %a.btn.btn-success.right{ :href => "../reports/new?tipo=vaucher&horario=#{horario[1]}&fecha=" + @format_date}
          %i.icon-download-alt
          Generar PDF
        %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapse#{horario[0]}"}
          %legend 
            = horario[0]
      %table.table
        %th Pieza
        %th Paciente
        %th Regimen
        %th 
        %th
        - @order_lists.each do |order_list|
          - order_list.orders.find_all_by_horario(horario[1]).each do |order|
            %tr{ :class => "#{order.estado == 3 ? 'tr_success' : 'tr_error'}"}
              %td= order_list.patient.num_pieza

              %td= order_list.esPaciente ? order_list.patient.nombre : 'Acompañante'
              %td= Regime.find(order.regime_id).nombre              
              %td
                = link_to(edit_order_path(order), "data-toggle" => "tooltip", :title => "Editar") do
                  %i.icon-pencil
              %td
                = link_to(order, "data-toggle" => "tooltip", :title => "Eliminar", :method => :delete, :data => { :confirm => 'Are you sure?' }) do
                  %i.icon-trash    
     
      
%a.btn{ :href => "#{new_order_list_path({:date => @date})}" }
  %i.icon-plus
  Nueva Orden
