%h2
  Editar Cuenta
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f|
  = f.error_notification
  = display_base_errors resource
  = f.input :name, :label=> 'Nombre', :autofocus => true
  = f.input :rut, :required => true
  = f.input :password, :autocomplete => "off", :hint => "déjala en blanco si no deseas cambiarla", :required => false
  = f.input :password_confirmation,:label=> 'Confirmación del Password', :required => false
  = f.input :current_password,:label=> 'Password Actual', :hint => "necesitamos tu password actual para confirmar los cambios", :required => true
  = f.button :submit, 'Actualizar', :class => 'btn-primary'
%h3 Cancelar Cuenta
%p
  #{link_to "Cancelar cuenta", registration_path(resource_name), :data => { :confirm => "¿Está seguro?" }, :method => :delete}.
%a.btn{ :href => "/" }
  %i.icon-arrow-left
  Regresar
