%h2 Registrarse
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
  = f.error_notification
  = display_base_errors resource
  = f.input :name, :autofocus => true, :label => 'Nombre y Apellido'
  = f.input :rut, :required => true
  = f.input :email, :required => true
  = f.input :password, :required => true, :label => 'Contraseña'
  = f.input :password_confirmation, :required => true, :label => 'Confirmar contraseña'
  = f.button :submit, 'Registrarse', :class => 'btn-primary'
= render "devise/shared/links"
