= simple_form_for(@ingredient) do |f|
  = f.error_notification

  .form-inputs
    %legend Nombre
    = f.input :nombre, label: false
    %legend Precio
    = f.input :precio, label: false
    %legend Unidad
    = f.input :unidad, as: :radio_buttons, collection: [["Gramos","GR"],["Ml","ML"], ["Kilogramo", "KG"],["Unidad", "UN"] ], label: false

  .form-actions
    = f.button :submit, @ingredient.new_record? ? "Crear Ingrediente" : "Actualizar Ingrediente"
