= label_tag(:fecha, "Fecha:")
%input{"data-behaviour" => "datepicker", :type => "text", :data_url => "#{reporte_areas_path}"}
%a.btn.right{ :href => "../pdf_list?tipo=areas"}
  %i.icon-download-alt
  Lista Documentos
%ul#myTab.nav.nav-tabs
  - Plate.horarios_nombre().each do |horario|
    %li
      %a{"data-toggle" => "tab", :href => "#horario#{horario[1]}"} #{horario[0]}         
#myTabContent.tab-content                    
  - Plate.horarios_nombre().each do |horario|
    .tab-pane.fade{ :id => "horario#{horario[1]}", :class => "#{horario[1] ==1 ? 'active in' : ''}"}      
      %a.btn.btn-success.right{ :href => "#", :tipo => "#{horario[0]}", :link => "../reports/new?tipo=areas&horario=#{horario[1]}&fecha=#{@date}"}
        %i.icon-download-alt
        Generar PDF  
      - Area.all.each do |area|
        .accordion-group
          .accordion-heading
            %a.accordion-toggle.collapsed{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "##{horario[1]}area#{area.id}"}
              %h4 #{area.nombre}
          .accordion-body.collapse{ :id => "#{horario[1]}area#{area.id}"}
            .accordion-inner                        
              - @areas_id[area.id].each do |plates_id|
                - count =  OrderList.joins(orders: :plates).where(:fecha => @date, plates: {id: plates_id}, orders: { horario: horario[1] }).count          
                - if count > 0
                  %p
                    = Plate.find(plates_id).nombre 
                    = count
#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3#myModalLabel Vouchers
  .modal-body
    %p 
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cerrar
    %a.btn.btn-primary{href: "#", :onclick => "callPrint('iframe_pdf');"}
      %i.icon-print
      Imprimir

:javascript
  $(function() {
  $('[data-behaviour~=datepicker]').datepicker({
    format: 'dd/mm/yyyy'
  }).on('changeDate', function(ev) {
    url = $(this).attr('data_url') + '?date=' + $(this).val();
    window.location = url;
  });
  $('[data-behaviour~=datepicker]').val("#{@date}")
  $('.btn-success').click(function(){
      //$('.dropdown-toggle').addClass('disabled');
      $('#myModalLabel').html("Ficha Area "+ $(this).attr('tipo'))    
      $( ".modal-body" ).load( $(this).attr('link'), function() {
        $('#myModal').modal('show');
        //$('.dropdown-toggle').removeClass('disabled');
      });     
      
    })

  });

  function callPrint(iframeId) {
      var PDF = document.getElementById(iframeId);
      PDF.focus();
      PDF.contentWindow.print();
  }
        
        