.tabbable
  / Only required for left/right tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab1"} Platos
    %li
      %a{"data-toggle" => "tab", :href => "#tab2"} Ingredientes
    %li
      %a{"data-toggle" => "tab", :href => "#tab3"} Regimenes
    %li
      %a{"data-toggle" => "tab", :href => "#tab4"} Usuarios
    %li
      %a{"data-toggle" => "tab", :href => "#tab5"} Configuración

  .tab-content{ :style => "overflow: hidden;"}
    #tab1.tab-pane.active
      %h2 Platos
      %table.table.table-condensed
        %tr
          %th Nombre
          %th Calorias
          %th
          %th

        - @plates.each do |plate|
          %tr
            %td= plate.nombre
            %td= plate.calorias
            %td
              = link_to(edit_plate_path(plate),:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Editar") do
                %i.icon-pencil
            %td 
              = link_to(plate, :method => :delete, :data => { :confirm => '¿Seguro que desea eliminar al paciente?' },:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Eliminar") do
                %i.icon-trash


      %br

      = link_to 'Nuevo Plato', new_plate_path
    #tab2.tab-pane
      %h2 Lista Ingredientes

      %table
        %tr
          %th Nombre
          %th Precio
          %th Unidad
          %th
          %th

        - @ingredients.each do |ingredient|
          %tr
            %td= ingredient.nombre
            %td= ingredient.precio
            %td= ingredient.unidad
            %td
              = link_to(edit_regime_path(ingredient),:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Editar") do
                %i.icon-pencil
              = link_to(ingredient, :method => :delete, :data => { :confirm => '¿Seguro que desea eliminar al paciente?' },:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Eliminar") do
                %i.icon-trash    

      %br

      = link_to 'New Ingredient', new_ingredient_path
    #tab3.tab-pane.active
      %h2 Regímenes

      %table.table.table-condensed
        %tr
          %th Nombre
          %th
        - @regimes.each do |regime|
          %tr
            %td= regime.nombre
            %td
              = link_to(edit_regime_path(regime),:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Editar") do
                %i.icon-pencil           

              = link_to(regime, :method => :delete, :data => { :confirm => '¿Seguro que desea eliminar al paciente?' },:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Eliminar") do
                %i.icon-trash   


      %hr

      %a.btn{ :href => "#{new_regime_path}" }
        %i.icon-plus
        Nuevo Regimen

    #tab4.tab-pane.active
      %h3 Users
      .span8
        %table.table.table-condensed
          %thead
            %tr
              %th Username
              %th Email
              %th Registered
              %th Role
              %th
              %th
          %tbody
            - @users.each do |user|
              %tr
                %td= link_to user.name, user
                %td= user.email
                %td= user.created_at.to_date
                %td= user.roles.first.name.titleize unless user.roles.first.nil?
                %td
                  %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Cambiar Rol
                  = render user
                %td= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user

    #tab5.tab-pane.active
      %h3
        Hoy es el día 
        = DayRegime.getCurrentDay()
        del regimen
        %a.btn.btn-mini{:href => "#", :type => "button", "data-toggle" => "tooltip", :title => "Sumar día"}
          %i.icon-arrow-up
        %a.btn.btn-mini{:href => "#", :type => "button", "data-toggle" => "tooltip", :title => "Restar día"}
          %i.icon-arrow-down