.tabbable
  / Only required for left/right tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab1"} Platos
    %li
      %a{"data-toggle" => "tab", :href => "#tab2"} Ingredientes
    %li
      %a{"data-toggle" => "tab", :href => "#tab3"} Regimenes
    %li
      %a{"data-toggle" => "tab", :href => "#tab4"} Usuarios
    %li
      %a{"data-toggle" => "tab", :href => "#tab6"} Areas Cocina
    %li
      %a{"data-toggle" => "tab", :href => "#tab5"} Configuración

  .tab-content{ :style => "overflow: hidden;"}
    #tab1.tab-pane.active
      %legend Platos
      %a.btn.btn-success.right{ :href => "#{new_plate_path}" }
        %i.icon-plus
        Nuevo Plato
      %table.table.table-condensed
        %tr
          %th Nombre
          %th Calorias
          %th

        - @plates.each do |plate|
          %tr
            %td= plate.nombre
            %td= plate.calorias
            %td
              = link_to(edit_plate_path(plate),:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Editar") do
                %i.icon-pencil
              = link_to(plate, :method => :delete, :data => { :confirm => '¿Seguro que desea eliminar al paciente?' },:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Eliminar") do
                %i.icon-trash
   

    #tab2.tab-pane
      %legend Lista Ingredientes      
      %a.btn.btn-success.right{ :href => "#{new_ingredient_path}" }
        %i.icon-plus
        Nuevo Ingrediente

      %table.table.table-condensed
        %tr
          %th Nombre
          %th Precio
          %th Unidad
          %th
          %th

        - @ingredients.each do |ingredient|
          %tr
            %td= ingredient.nombre
            %td= ingredient.precio
            %td= ingredient.unidad
            %td
              = link_to(edit_ingredient_path(ingredient),:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Editar") do
                %i.icon-pencil
              = link_to(ingredient, :method => :delete, :data => { :confirm => '¿Seguro que desea eliminar al paciente?' },:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Eliminar") do
                %i.icon-trash    

    #tab3.tab-pane
      %legend Regímenes

      %table.table.table-condensed
        %tr
          %th Nombre
          %th
        - @regimes.each do |regime|
          %tr
            %td= regime.nombre
            %td
              = link_to(edit_regime_path(regime),:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Editar") do
                %i.icon-pencil

              = link_to(regime, :method => :delete, :data => { :confirm => '¿Seguro que desea eliminar al paciente?' },:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Eliminar") do
                %i.icon-trash


      %hr

      %a.btn{ :href => "#{new_regime_path}" }
        %i.icon-plus
        Nuevo Regimen

    #tab4.tab-pane
      %legend Users
      .span8
        %table.table.table-condensed
          %thead
            %tr
              %th Nombre de Usuario
              %th Rut
              %th Email
              %th Fecha de Regístro
              %th Rol
              %th
              %th
          %tbody
            - @users.each do |user|
              %tr
                %td= user.name
                %td= user.rut
                %td= user.email
                %td= user.created_at.to_date
                %td= user.roles.first.name.titleize unless user.roles.first.nil?
                %td
                  %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Cambiar Rol
                  = render user
                %td= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user

    #tab5.tab-pane
      #day
        %h3#currentDay
          Hoy es el día 
          = DayRegime.getCurrentDay()
          del regimen
        %a.btn.btn-mini#upDay{:href => "#", :type => "button", "data-toggle" => "tooltip", :title => "Sumar día"}
          %i.icon-arrow-up
        %a.btn.btn-mini#downDay{:href => "#", :type => "button", "data-toggle" => "tooltip", :title => "Restar día"}
          %i.icon-arrow-down
        :javascript
          $(function() {
          $('table').filterTable({ 
          placeholder: "Buscar por nombre en la lista..", 
          label: ""
          });
          $('#upDay').click(function() {
            $.ajax({
              url: "#{url_for :upDay}"
            }).done(function(data) {
              $('#currentDay').text("Hoy es el día "+data+ " del regimen");
            });
          });
          $('#downDay').click(function() {
            $.ajax({
              url: "#{url_for :downDay}"
            }).done(function(data) {
              $('#currentDay').text("Hoy es el día "+data+ " del regimen");
            });
          });
          });
    #tab6.tab-pane
      %legend Areas Cocina
      %table.table.table-condensed
        %thead
          %tr
            %th Nombre
            %th
            %th
        %tbody
          - @areas.each do |area|
            %tr
              %td= area.nombre
              %td
                = link_to(edit_area_path(area),:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Editar") do
                  %i.icon-pencil
                = link_to(area, :method => :delete, :data => { :confirm => '¿Seguro que desea eliminar al paciente?' },:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Eliminar") do
                  %i.icon-trash
      %br
      %a.btn{ :href => "#{new_area_path}" }
        %i.icon-plus
        Nueva Area