%a.btn.btn-small{ :href=>"../cuapanel"} Volver
#tab1.tab-pane.active
  %legend Platos
  %a.btn.btn-success.right{ :href => "#{new_plate_path}" }
    %i.icon-plus
    Nuevo Plato
  %table.table.table-condensed
    %tr
      %th Nombre
      %th Calorias
      %th

    - @plates.each do |plate|
      %tr
        %td= plate.nombre.split("[")[0]
        %td= plate.calorias
        %td
          = link_to(edit_plate_path(plate),:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Editar") do
            %i.icon-pencil
          = link_to(plate, :method => :delete, :data => { :confirm => '¿Seguro que desea eliminar al paciente?' },:class => 'btn btn-mini', "data-toggle" => "tooltip", :title => "Eliminar") do
            %i.icon-trash
:javascript
  $(function() {
  $('table').filterTable({ 
  placeholder: "Buscar por nombre en la lista..", 
  label: ""
  });
  });