= simple_form_for(@order) do |f|
  = f.error_notification

  .form-inputs
    = select(:order, :patient, Patient.all.collect {|p| [ p.num_pieza, p.id ] }, {:prompt => 'Seleccione Pieza'})
    = f.input :esPaciente , label: 'Acompañante'
    = text_field(:dia, :dia)
    = f.input :horario
    = select("regime", "", Regime.all.collect {|p| [ p.nombre, p.id ] }, {:prompt => 'Seleccione Régimen'})
    #plates

    = f.input :comentarios

  .form-actions
    = f.button :submit
