= simple_form_for(@order) do |f|
  = f.error_notification

  .form-inputs
    = select(:order, :patient_id, Patient.all.collect {|p| [ p.num_pieza, p.id ] }, {:prompt => 'Seleccione Pieza'})

    #persona
      %ul#lista_persona{:style =>"display: none"}
        %li{:style => "display: inline-table; padding-right: 50px"}
          = label_tag(:nombre_paciente, "Nombre Paciente", :id =>"nombre_paciente")
          = check_box_tag(:nombre)
        %li{:style => "display: inline-table"}
          = f.input :esPaciente , label: 'Acompañante'

    = hidden_field_tag 'dia[dia]', '1'
    = hidden_field_tag 'order[horario]', '1'
    = select("regime", "", Regime.all.collect {|p| [ p.nombre, p.id ] }, {:prompt => 'Seleccione Régimen'})
    #plates

    = f.input :comentarios

  .form-actions
    = f.button :submit
