%h1 Listing orders

%table
  %tr
    %th Patient
    %th Espaciente
    %th Horario
    %th Comentarios
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.patient
      %td= order.esPaciente
      %td= order.horario
      %td= order.comentarios
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
