%legend Pacientes

%h2 Importar Pacientes
= form_tag import_patients_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Importar"

%br

%table.table.table-condensed
  %tr
    %th Nombre
    %th RUT
    %th Num pieza

  - @patients.each do |patient|
    %tr
      %td= patient.nombre
      %td= patient.rut
      %td= patient.num_pieza

%br
