= simple_form_for(@area) do |f|
  = f.error_notification

  .form-inputs
    %legend Nombre
    = f.input :nombre, label: false
    %legend Descripción
    = f.input :descripcion, label: false

  .form-actions
    = f.button :submit, @area.new_record? ? "Crear Área" : "Actualizar Área"
