= link_to image_tag("images/logo2.jpg"), root_path, :class => 'brand2'

%ul.nav
  - if user_signed_in?    
    - if current_user.has_role? :nutricionista
      %li
        = link_to(patients_path) do
          %i.icon-user
          Pacientes
      %li
        = link_to order_lists_path do
          %i.icon-tasks
          Ordenes
    - if current_user.has_role? :admin
      %li
        = link_to(admin_path) do
          %i.icon-cog
          Admin
      %li
        = link_to cuapanel_path do
          %i.icon-wrench
          Configuración
  - else
    %li
      = link_to 'Sign up', new_user_registration_path

  - if user_signed_in?
    #nav_account
      %ul.nav
        %li    
          = link_to edit_user_registration_path do
            %i.icon-pencil
            Editar Cuenta
        %li
          = link_to destroy_user_session_path, :method=>'delete' do
            %i.icon-off
            Logout

  - else
    %ul.nav
      #nav_account
        %li
          = link_to 'Login', new_user_session_path
