#header{:style => ""}
  #head
    .logo_head
      %a{:href => "/", :title => "Ir al home"} Clínica Universidad de Los Andes
    #menu_sec
      #menu_sec_content
        %ul.rtsUL
          - if user_signed_in? 
            %li.rtsLI.rtsFirst
              %a.rtsLink{:href => "#{edit_user_registration_path}"}
                %span.rtsOut
                  %span.rtsIn
                    %span.rtsTxt
                      %i.icon-pencil
                      Editar Cuenta
            %li.rtsLI
              %a.rtsLink{:href => "#{destroy_user_session_path}", "data-method"=>'delete'}
                %span.rtsOut
                  %span.rtsIn
                    %span.rtsTxt
                      %i.icon-off
                      Cerrar Sesion
            - if current_user.has_role? :admin or current_user.has_role? :central
              %li.rtsLI.rtsLast#alarms{}
                %a.rtsLink{:href => "#"}
                  %span.rtsOut
                    %span.rtsIn
                      %span.rtsTxt#notif_btn
                        %i.icon-warning-sign
                %span.notification-bubble{style: "background-color: rgb(245, 108, 126); display: none;", title: "Notifications"} 0    

          - else
            %li.rtsLI
              %a.rtsLink{:href => "#{new_user_registration_path}"}
                %span.rtsOut
                  %span.rtsIn
                    %span.rtsTxt
                      %i.icon-book
                      Registrarse                    
            %li.rtsLI.rtsLast
              %a.rtsLink{:href => "#{new_user_session_path}"}
                %span.rtsOut
                  %span.rtsIn
                    %span.rtsTxt
                      %i.icon-user
                      Ingresar
          -# %li.rtsLI.rtsLast
          -#   %a.rtsLink{:href => "http://www.clinicauandes.cl/shortcuts/contacto"}
          -#     %span.rtsOut
          -#       %span.rtsIn
          -#         %span.rtsTxt
          -#           %i.icon-envelope
          -#           Contacto      
    #menu_ppl
      %ul.rtsUL
        %li.rtsLI.rtsFirst.rts
          %a.rtsLink{:href => "#{root_path}"}
            %span.rtsOut
              %span.rtsIn
                %span.rtsTxt Home
        - if user_signed_in?    
          - if current_user.has_role? :nutricionista or current_user.has_role? :admin
            %li.rtsLI.rtsLIMid
              %a.rtsLink{:href => "#{patients_path}"}
                %span.rtsOut
                  %span.rtsIn
                    %span.rtsTxt Pacientes
            %li.rtsLI.rtsLIMid
              %a.rtsLink{:href => "#{order_lists_path}"}
                %span.rtsOut
                  %span.rtsIn
                    %span.rtsTxt Ordenes
            %li.rtsLI.rtsLIMid
              %a.rtsLink{:href => "#{new_order_list_path({:date => Date.tomorrow.strftime("%d/%m/%Y")})}"}
                %span.rtsOut
                  %span.rtsIn
                    %span.rtsTxt Nueva Orden
            %li.rtsLI.rtsLIMid
              %a.rtsLink{:href => "#{colacion_path()}"}
                %span.rtsOut
                  %span.rtsIn
                    %span.rtsTxt Nueva Colación
          - if current_user.has_role? :central or current_user.has_role? :admin
            %li.rtsLI.rtsLIMid
              %a.rtsLink{:href => "#{reporte_areas_path}"}
                %span.rtsOut
                  %span.rtsIn
                    %span.rtsTxt Áreas
          - if current_user.has_role? :admin
            %li.rtsLI.rtsLIMid
              %a.rtsLink{:href => "#{admin_path}"}
                %span.rtsOut
                  %span.rtsIn
                    %span.rtsTxt Estadisticas
            %li.rtsLI.rtsLast
              %a.rtsLink{:href => "#{cuapanel_path}"}
                %span.rtsOut
                  %span.rtsIn
                    %span.rtsTxt Configurar

        -else 
          %li.rtsLI.rtsLIMid
            %a.rtsLink{:href => "http://www.clinicauandes.cl/conoce-la-clinica/cumpliendo-estandares-exigentes"}
              %span.rtsOut
                %span.rtsIn
                  %span.rtsTxt Conócenos
          %li.rtsLI.rtsLast
            %a.rtsLink{:href => "http://www.clinicauandes.cl/nuestra-inspiracion/mision"}
              %span.rtsOut
                %span.rtsIn
                  %span.rtsTxt Nuestra inspiración
